:root {
    --cor-base: #C9F2C7;
    --cor-primaria: #1481BA;
    --cor-segundaria: #11B5E4;
    --cor-turquesa: #00ff88;
}

body {
    background-color: var(--cor-base);
}

header {
    background-color: var(--cor-primaria);
}

header banner {
    display: flex;
    font-size: 150%;
    background-color: var(--cor-primaria);
    justify-content: center;
    align-content: center;
    padding: 2%;
    color: white;
    
}

header banner a {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-size: 200%;
    color: white;
}

header banner .input-group {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

header banner a img {
    margin-right: 20px;
}

header banner i {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header banner form {
    width: 35%;
    background-color: white;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

header navBar div {
    background-color: var(--cor-segundaria);
}

main {
    padding: 20px;
}

main form {
    width: 100%;
    background-color: var(--cor-turquesa);
    display: flex;
    justify-content: space-between;
}

main .container {
    width: 75%;
    padding: 3%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    background-color: var(--cor-turquesa);
}

main cards {
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin-top: 3%;
    margin-left: 6%;
}

main cards div {
    margin: 1%;
}

main .card.w-75.mb-3 {
    width: 100%;

}