
:root {
    --cor-base: #fffae9;
    --cor-primaria: #1481BA;
    --cor-segundaria: #11B5E4;
}

body {
    background-color: var(--cor-base);
}

header banner .container-fluid {
    background-color: var(--cor-primaria);
    border: 0 auto;
    padding: 10px;
}

header banner .container-fluid a {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-size: 200%;
    color: white;
}

header banner .input-group {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

header banner .container-fluid a img {
    margin-right: 20px;
}

header banner i {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header banner form {
    margin: 3%;
    width: 45%;
    background-color: white;
}

header navBar div {
    background-color: var(--cor-segundaria);
}

.main {
    padding: 20px;
    margin: 2%;   
}

main form {
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: space-between;
}

main .container {
    width: 75%;
    padding: 3%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    background-color: gray;
}

main cards {
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin-top: 3%;
    margin-left: 6%;
}

main cards div {
    margin: 1%;
}

main .card.w-75.mb-3 {
    width: 100%;

}

h1{
    margin-top: 2%;
    
}
h2{
    color:#0d02a7;
}
.pintro{
    margin-right: 4%;
    margin-top: 2%;
}
.p2{
    margin-right: 6%;
    margin-top: 2%;
}
footer {
	background-color: #b1bdff;
	color: #001021 ;                    
	padding: 20px;
	text-align: center;
	margin-top: 50px;
}
a{
    color:#034748                    
}
.cima{
    padding-top: 12% ;
}
.pad{
   height: 90% ;
   width: 160% ;
}

.col-sm-6.col-md-8 img {
    width: 150%;
}