main {
    padding: 0px;
    margin: 0px;
}

.main {
    padding: 20px;
}

main .card.w-75.mb-3 {
    width: 100%;
}

h1{
    margin-top: 2%;
    
}
h2{
    color:#0d02a7;
}
.pintro{
    margin-right: 4%;
    margin-top: 2%;
}
.p2{
    margin-right: 6%;
    margin-top: 2%;
}
footer {
	background-color: #b1bdff;
	color: #001021 ;                    
	padding: 20px;
	text-align: center;
	margin-top: 50px;
}
a{
    color:#034748                    
}
.cima{
    padding-top: 12% ;
}
.pad{
   height: 90% ;
   width: 160% ;
}

.col-sm-6.col-md-8 img {
    width: 150%;
}

.cidade {
    margin: auto;
    border: 0 auto;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 900px;
    background-image: url("../img/pexels-apasaric-325185.jpg");
    background-size: 100%;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-color: var(--cor-base);
    text-shadow: 2px 1px white;
}

.cidade h4 {
    text-align: center;
}